- if slides
  #myCarousel.carousel.slide
    .carousel-inner
      - slides.try(:each) do |slide|
        .item{ class: (slide == slides.first ? '' : 'active') }= image_tag slide.img.medium.url
    = link_to raw('&lsaquo;'), '#myCarousel', :'data-slide' => 'prev', class: 'carousel-control left'
    = link_to raw('&rsaquo;'), '#myCarousel', :'data-slide' => 'next', class: 'carousel-control right'
